.home-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.login-section {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #177ad6;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(227, 227, 220);
    color: rgb(0, 0, 0);
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link {
    margin-top: 15px;
    color: #0d62ff;
    cursor: pointer;
    text-decoration:underline;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
    }
    .login-section, .promo-section {
        flex: none;
        width: 100%;
    }
}
