* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-image: url(/src/assets/LandingPage.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .profile-container {
    height: 600px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    background-color: #f8decc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #e9a68c;
  }
  
  li a {
    text-decoration: none;
    color: #d14407;
    font-weight: bold;
  }
  
  li a:hover {
    text-decoration: underline;
    color: #000000;
  }

  .profile-container button {
    background-color: #c13b05;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #d14407;
    transform: scale(1.05);
    cursor: pointer;
  }
  
  label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  @media (max-width: 600px) {
    .profile-container {
      padding: 15px;
    }
  
    h1 {
      font-size: 1.75rem;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  }
  
